GCP_ACCOUNT="jfchanac@trustedcloudsolutions.lat"

MACHINE_TYPE="e2-micro"
IMAGE_FAMILY="debian-12"
IMAGE_PROJECT="debian-cloud"
BOOT_DISK_SIZE="20GB"
BOOT_DISK_TYPE="pd-balanced"
IAP_SOURCE_RANGE="35.235.240.0/20"
LABELS_BASE="managed-by=codex,platform=hybrid-sim"

LEFT_SITE_NAME="onprem-01"
LEFT_PROJECT_ID="project-onprem-01"
LEFT_NETWORK="vpc-onprem-01-core"
LEFT_REGION="us-central1"
LEFT_ZONE="us-central1-a"
LEFT_PRIMARY_SUBNET_NAME="snet-onprem-01-mgmt-usc1"
LEFT_PRIMARY_SUBNET_CIDR="10.10.10.0/24"
LEFT_SECONDARY_SUBNET_NAME="snet-onprem-01-workload-usc1"
LEFT_SECONDARY_SUBNET_CIDR="10.10.20.0/24"
LEFT_INTERNAL_SOURCE_RANGE="10.10.0.0/16"
LEFT_BASTION_VM_NAME="vm-onprem-01-bastion"
LEFT_BASTION_VM_SUBNET="snet-onprem-01-mgmt-usc1"
LEFT_APP_VM_NAME="vm-onprem-01-app-01"
LEFT_APP_VM_SUBNET="snet-onprem-01-workload-usc1"

RIGHT_SITE_NAME="cloud-01"
RIGHT_PROJECT_ID="project-cloud-01-498217"
RIGHT_NETWORK="vpc-cloud-01-core"
RIGHT_REGION="us-central1"
RIGHT_ZONE="us-central1-a"
RIGHT_PRIMARY_SUBNET_NAME="snet-cloud-01-app-usc1"
RIGHT_PRIMARY_SUBNET_CIDR="10.20.10.0/24"
RIGHT_SECONDARY_SUBNET_NAME="snet-cloud-01-data-usc1"
RIGHT_SECONDARY_SUBNET_CIDR="10.20.20.0/24"
RIGHT_INTERNAL_SOURCE_RANGE="10.20.0.0/16"
RIGHT_BASTION_VM_NAME="vm-cloud-01-bastion"
RIGHT_BASTION_VM_SUBNET="snet-cloud-01-app-usc1"
RIGHT_APP_VM_NAME="vm-cloud-01-app-01"
RIGHT_APP_VM_SUBNET="snet-cloud-01-app-usc1"
